@model IEnumerable<ZeonEcommerce.Models.ParameterValue>
<div class="ValueList">
    <div class="col-md-10">
        <select class="select form-control"  name="ParameterValueID">
            @foreach (var item in Model)
            {
                <option value="@item.ParameterValueId">@item.Name</option>
            }

        </select>
    </div>
</div>
