
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}

<div class="content">

    <div class="container">
       
        <div class="error-404">
            <img src="images/elements/error-404.png" alt="error-404">
            <h3>Error</h3>

            <form class="error-404-search">
                <input type="text" class="search-line" placeholder="Search" name="serch" />
                <input type="submit" value="" class="search-button" />
            </form>

            <h1>Are you lost?</h1>
            <h2>SORRY, the page you asked for couldn't be found.</h2>
            <p>Please try using the search form below</p>

        </div>
    </div>

</div>


